@using MarketPlace.Query.Contract.Category
@model MarketPlace.ApplicationContract.ViewModels.ProductAgg.CreateProductVM
@{
    ViewData["Title"] = "ایجاد محصول";
    Layout = "~/Views/Shared/_MainLayout.cshtml";

    var categories = ViewBag.Categories as IEnumerable<CategoryQueryVM>;
}

<!--breadcrumbs area start-->
<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a href="/">خانه</a></li>
                        <li>@ViewData["Title"]</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs area end-->

<section class="main_content_area">
    <div class="container">
        <div class="account_dashboard">
            <div class="row">
                <div class="col-sm-12 col-md-3 col-lg-3">
                    <!-- Nav tabs -->
                    <partial name="_StoreAccountSideBarVM" model="@ViewBag.StoreId" />
                </div>
                <div class="col-sm-12 col-md-9 col-lg-9">
                    <!-- Tab panes -->
                    <div class="tab-content dashboard_content">
                        <div class="tab-pane fade show active" id="account-details">
                            <h3>@ViewData["Title"]</h3>
                            <div class="login">
                                <div class="login_form_container">
                                    <div class="account_login_form">
                                        <form asp-controller="Product" asp-action="Create" method="post" enctype="multipart/form-data">

                                            <label>نام محصول</label> <span asp-validation-for="Title" class="text-danger float-right"></span>
                                            <input asp-for="Title" type="text">
                                            <br>

                                            <label>تصویر</label> <span asp-validation-for="ImageFile" class="text-danger float-right"></span>
                                            <input asp-for="ImageFile" type="file" accept="jpeg,png,jpg">
                                            <br>

                                            <label>قیمت</label> <span asp-validation-for="Price" class="text-danger float-right"></span>
                                            <input asp-for="Price" type="number">
                                            <br>

                                            <label>توضیحات کوتاه</label> <span asp-validation-for="ShortDescription" class="text-danger float-right"></span>
                                            <textarea asp-for="ShortDescription" rows="8" class="form-control"></textarea>
                                            <br>

                                            <label>توضیحات اصلی</label> <span asp-validation-for="Description" class="text-danger float-right"></span>
                                            <textarea asp-for="Description" id="TinyArea" class="form-control"></textarea>
                                            <br />

                                            <label>فعال / غیر فعال</label>
                                            <input asp-for="IsActive" checked="checked">
                                            <br>

                                            <hr />

                                            <label>دسته بندی</label>
                                            <div class="card-body">
                                                <ul id="category" class="demo1">
                                                    @foreach (var item in categories)
                                                    {
                                                        <li>
                                                            <input type="checkbox"  name="CategoriesId" value="@item.Id" /> @item.Name
                                                            
                                                             <partial name="_SubCategory" model="@item.Categories"/>
                                                        </li>
                                                    }
                                                </ul>

                                            </div>

                                            <div class="save_button primary_btn default_button">
                                                <button type="submit">ارسال برای تایید</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
