@using Framework.Application
@model IEnumerable<MarketPlace.Query.Contract.Product.ProductQueryVM>
@{
    ViewData["Title"] = "محصولات";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


<!--breadcrumbs area start-->
<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a href="/">خانه</a></li>
                        <li>@ViewData["Title"]</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs area end-->
<!-- my account start  -->
<section class="main_content_area">
    <div class="container">
        <div class="account_dashboard">
            <div class="row">
                <div class="col-sm-12 col-md-3 col-lg-3">
                    <!-- Nav tabs -->
                    <partial name="_StoreAccountSideBarVM" model="@ViewBag.StoreId" />
                </div>
                <div class="col-sm-12 col-md-9 col-lg-9">
                    <!-- Tab panes -->
                    <div class="tab-content dashboard_content">
                        <div class="tab-pane fade show active" id="dashboard">
                            <a class="btn btn-info float-right" asp-action="Create" asp-route-id="@ViewBag.StoreId">ایجاد محصول جدید</a>
                        </div>
                        <div class="tab-pane fade show active" id="orders">
                            <h3>@ViewData["Title"]</h3>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>تصویر</th>
                                            <th>عنوان</th>
                                            <th>قیمت</th>
                                            <th>وضعیت تایید</th>
                                            <th>وضعیت</th>
                                            <th>تاریخ ایجاد</th>
                                            <th>عملیات</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var entity in Model)
                                        {
                                            <tr>
                                                <td>
                                                    <img src="/img/@entity.ImageName" style="border-radius: 50px; width: 50%" alt="Alternate Text"/>
                                                </td>
                                                
                                                <td>@entity.Title</td>
                                                <td>@entity.Price.ToMoney()</td>
                                                <td>
                                                    @switch (entity.ProductAcceptanceState)
                                                    {
                                                        case ProductAcceptanceState.Accepted:
                                                            <span class="badge badge-success">@entity.ProductAcceptanceState.GetEnumName()</span>
                                                            break;
                                                        case ProductAcceptanceState.Rejected:
                                                            <span class="badge badge-danger">@entity.ProductAcceptanceState.GetEnumName()</span>
                                                            break;
                                                        case ProductAcceptanceState.UnderProgress:
                                                            <span class="badge badge-warning">@entity.ProductAcceptanceState.GetEnumName()</span>
                                                            break;
                                                    }

                                                </td>
                                                <td>
                                                    @switch (entity.IsActive)
                                                    {
                                                        case true:
                                                            <span class="badge badge-success">فعال</span>
                                                            break;
                                                        case false:
                                                            <span class="badge badge-danger">غیر فعال</span>
                                                            break;
                                                    }
                                                </td>

                                                <td>@entity.CreationDate</td>

                                                <td>
                                                    <a class="view fa fa-edit" asp-action="Edit" asp-route-id="@entity.Id"></a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- my account end   -->
