@using Framework.Application
@model IEnumerable<MarketPlace.Query.Contract.Store.StoreQueryVM>
@{
    ViewData["Title"] = "لیست درخواست ها";
}

<!--breadcrumbs area start-->
<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a href="/">خانه</a></li>
                        <li>@ViewData["Title"]</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs area end-->
<!-- my account start  -->
<section class="main_content_area">
    <div class="container">
        <div class="account_dashboard">
            <div class="row">
                <div class="col-sm-12 col-md-3 col-lg-3">
                    <!-- Nav tabs -->
                    <partial name="_UserAccountSideBarVM" />
                </div>
                <div class="col-sm-12 col-md-9 col-lg-9">
                    <!-- Tab panes -->
                    <div class="tab-content dashboard_content">
                        <div class="tab-pane fade show active" id="dashboard">
                            <a class="btn btn-info float-right" asp-action="SendRequest">ارسال درخواست جدید</a>
                        </div>
                        <div class="tab-pane fade show active" id="orders">
                            <h3>@ViewData["Title"]</h3>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>نام</th>
                                            <th>وضعیت</th>
                                            <th>شماره تماس</th>
                                            <th>زمان ارسال</th>
                                            <th>عملیات</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var entity in Model)
                                        {
                                            <tr>
                                                <td>@entity.Name</td>
                                                <td>
                                                    @switch (entity.Status)
                                                    {
                                                        case StoreStatus.Confirmed:
                                                            <span class="badge badge-success">@entity.Status.GetEnumName()</span>
                                                            break;
                                                        case StoreStatus.Rejected:
                                                            <span class="badge badge-danger">@entity.Status.GetEnumName()</span>
                                                            break;
                                                        case StoreStatus.UnderProgressed:
                                                            <span class="badge badge-warning">@entity.Status.GetEnumName()</span>
                                                            break;
                                                    }
                                                </td>

                                                <td>@entity.MobileNumber</td>

                                                <td>@entity.SentRequestTime</td>

                                                <td>
                                                    <a class="view fa fa-edit" asp-action="Edit" asp-route-id="@entity.Id"></a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- my account end   -->