@model IEnumerable<MarketPlace.Query.Contract.Category.CategoryQueryVM>


@if (Model.Any())
{
    @foreach (var sub in Model)
    {

        <label>
            <input type="checkbox" name="CategoriesId" value="@sub.Id" main_category_checkbox="@sub.Id" parent-category-id="@sub.ParentId" /> @sub.Name
        </label>

        <div id="sub_categories_@sub.Id" style="display: none">
            @if (sub.Categories != null)
            {

                <partial name="_SubCategory" model="@sub.Categories" />

            }
        </div>
    }
}